<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Ledon.BerryShare.Front</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="guild">
                <span class="bi bi-people-fill" aria-hidden="true"></span> 公会管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gift-flow-type">
                <span class="bi bi-list-ul" aria-hidden="true"></span> 流水类型
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="comm-type">
                <span class="bi bi-file-earmark-text" aria-hidden="true"></span> 分成模板
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user">
                <span class="bi bi-person-badge" aria-hidden="true"></span> 人员管理
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="gift-flow">
                <span class="bi bi-cash-stack" aria-hidden="true"></span> 礼物流水
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter5">
                <span class="bi bi-diagram-3" aria-hidden="true"></span> 分成管理
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
